*{
    box-sizing: border-box;
}
html,body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
header{
    background-color: white;
    border-bottom: 1px solid white;
    align-items: center;
    height: 64px;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
header #logo{
    display: inline-flex;
    align-items: center;
    padding-left: 24px;
}
header img{
    width: 2rem;
    vertical-align: middle;
}
header #logo-text{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
header #logo-text-2{
    font-size: 32px;
    color: grey;
}
header ul.desktop{
    display: inline-flex;
    padding-right: 24px;
    list-style: none;
}
header ul.mobile{
    display: none;
    width: 100%;
}
ul:hover a[href]:hover{
    color: midnightblue;
}
.menu-option{
    padding-right: 16px;
    color: black;
}
a[href]{
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
main{
    background-color: white;
    padding-top: 4rem;
}
#banner{
    align-items: center;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
    padding: 32px 24px;
    width: 100%;
}
#banner img{
    width: 60%;
}
#banner #content{
    margin-left: 24px;
    color: rgb(64, 64, 64);
}
#banner h1{
    margin-bottom: 32px;
}
#banner button{
    background-color: gray;
    cursor: pointer;
    font-size: 16px;
    margin: 24px 0;
    min-width: 60%;
    transition: background-color 0.2s ease-in-out;
    color: white;
}
#banner button:hover{
    background-color: rgb(64, 64, 64);
}
button{
    border: 0;
    padding: 1rem;
    text-align: center;
}
#information{
    display: flex;
    height: fit-content;
    width: 100%;
}
#information-main{
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    width: 60%;
}
#information-main img{
    width: 100%;
    margin-bottom: 24px;
}
#information-main p{
    color: gray;
    padding-bottom: 32px;
    padding-top: 70px;
}
#information #content{
    color: rgb(64, 64, 64);
}
#featured{
    border-left: 1px solid rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    width: 40%;
}
.items h3, .items p, .items a{
    margin-bottom: 8px;
}
#featured .items{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s ease-in-out;
    padding: 16px;
}
#featured .items:hover{
    background-color: rgb(207, 207, 207);
}
#featured .items img.desktop{
    width: 35%;
}
#featured .items img.mobile{
    display: none;
}
#featured .items #content{
    margin-left: 16px;
}
.items a{
    color: dodgerblue;
}